
@mixin heading($spacing: 3px, $weight: 300, $case: uppcase){
    letter-spacing: $spacing;
    font-weight: $weight;
    text-transform: $case;
}

@mixin flex(
    $dir: row, 
    $justifyContent: center,
    $alignItems:center,
    $gap: 1 rem
    ){
    display: flex;
    flex-direction: $dir;
    justify-content: $justifyContent;
    align-items: &$alignItems;
    gap: $gap;
}


@mixin grid(
    $col: 1fr, 
    $gap: 1 rem,
    $row: unset
    ){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap;
}


@mixin inputStyle(
    $w: 100%, 
    $p: 1rem,
    $bgColor: inherit,
    $border: none
    ){
    padding: $p;
    border: $border;
    background-color: $bColor;
    width: $w;
    outline: none;
}


@mixin posCenter(
    $w: 100%, 
    $p: 1rem,
    $bgColor: inherit,
    $border: none
    ){
    padding: $p;
    border: $border;
    background-color: $bColor;
    width: $w;
    outline: none;
}

